.App {
  height: 150vh;
  text-align: center;

}
* {
  font-family: monospace;
}
a {
  text-decoration: none;
  color: #1b353d;
 padding: 10px;
  border-radius: 10px;
    }
a:hover {
  background-color: rgba(64, 162, 148, 0.61);
  box-shadow: 5px 5px 15px 5px rgba(57, 113, 129, 0.55);
}
/*-----------Flex----------------*/
.d-flex {
  display: flex;
}
.wrap {
  flex-wrap: wrap;
}
.space-btw {
  justify-content: space-between;
}
.space-around {
  justify-content: space-around;
}
.just-evenly {
  justify-content: space-evenly;
}
.justify-center {
  justify-content: center;
}
.column {
  flex-direction: column;
}
.align-center {
  align-items: center;
}
.j-c-s-around {
  justify-content: space-around;
}
.column-reverse {
flex-direction: column-reverse;
}
.j-c-end {
  justify-content: end;
}
/*----------------------------------*/
.m-50 {
  margin: 50px;
}
.p-20 {
  padding: 20px;
}
.grow2 {
   flex: 2;
 }
.grow3 {
  flex: 3;
}
.width {
  width: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 60px;

}
.w-300 {
  width: 370px;
}
.w-200 {
  width: 200px;
}
.min-400 {
  min-height: 400px;
}
.border {
  border: 2px solid #594949;
}
/*----------------------------------------------------*/

button {
  height: 40px;
  width: 180px;
  background-color: #93e3d7;
  border-radius: 3px;
  font-size: 18px;
  color: #645f55;
}
button:hover {
  background-color: #3cdcc4;
}
input {
  height: 40px;
  width: 280px;
  background-color: #e6c7e7;
  margin: 20px;
  font-size: 18px;
  color: #645f55;
}
.input {
  height: 40px;
  width: 280px;
  background-color: #e6c7e7;
  margin: 20px;
  border: 2px solid black;
  font-size: 18px;
  color: #645f55;
  align-items: center;
}
.time {
  background-color: #e6c7e7;
  margin-left: 50px;
  font-size: 16px;
  color: #645f55;
}
.toolbar {
  width: 95%;
  height: 50px;
  padding: 20px;
  background-color: #93b9ab;
  color: #323b46;
  font-size: 25px;
  border-radius: 4px;
  margin-left: 50px;
}
.auction-1 {
  width: 92%;
}
.auction {
   padding: 10px -10px 10px -10px;
   margin: 30px;
   background-color: #d2f1e6;
  border-radius: 4px;
 }
.image-box {
  width: 350px;
  height: 350px;
  border: #1b353d 2px solid;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  box-shadow: 5px 5px 15px 5px rgba(57, 113, 129, 0.55);
}
.image-box:hover {
  background-color: #93e3d7;
}
.auction-image {
  max-width: 300px;
  max-height: 300px;
  background-size: 200px;
  cursor: pointer;
}
.info-1 h2{
  height: 100px;
  width: 200px;
  margin-left: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.info h2 {
  height: 100px;
  width: 180px;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.a-header {
  width: 90%;
  height: 50px;
  padding: 10px;
  margin: 20px;
  background-color: #a5d9c6;
  border-radius: 4px;
}
.a-header-info {
  width: 90%;
  background-color: #a5d9c6;
}
.boxOne {
  background-color: #a5d9c6;
  color: #645f55;
  border: none;
}
.boxTwo {
  background-color: #a5d9c6;
  color: #645f55;
}
.link {
  color:palevioletred;
}
.title {
  font-size: 40px;
  color: #184c5b;
}
.bold {
  font-weight: bold;
}
.single-auction {
  width: 90%;
  margin: 40px;
  padding: 20px;
  background-color: #93e3d7;
}
.a-header-info h1 {
  margin: 0;
}
/*-------------------------------------------------*/

.font {
  font-family: Arial, Helvetica, sans-serif;
  color: #616367;
}
.m-50 {
  margin: 50px;
}

.sidebar-img {
  height: 100px;
  width: 100px;
  background-size: 100px;
  cursor: pointer;
  margin-bottom: 7px;
}
.text-blue {
  text-wrap: normal;
  color: #2578c9;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}
.text-grey p {
  text-wrap: normal;
  font-size: 14px;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.text-box {
  margin-left: 50px;
  width: 230px;
}
.size-16 {
  font-size: 16px;
  margin:5px 0;
}
.pointer {
  cursor: pointer;
}
/*-----------FLEX----------*/
.d-flex {
   display: flex;
 }

.m-7-0 {
  margin: 7px 0;
}
.m-t-6 {
  margin-top: 6px;
}

